SECRET_KEY=Your-Secret-Key
DEBUG=set-to-True-or-False-accordingly
ALLOWED_HOSTS= 127.0.0.1,example.com,others.com
DB_NAME=db-name
DB_USER=db-user
EMAIL_USE_TLS=True
EMAIL_HOST=email-host
EMAIL_HOST_PASSWORD=email-password
EMAIL_PORT=email-port
DEFAULT_FROM_EMAIL=email-header <email-address>
DEFAULT_TO_EMAIL=email-header <email-address>